Operator Overloading

In [ ]:
var='This is Tasrif coding'
print(var)

This is Tasrif coding

In [ ]:
#TAW video watch part-2:
class House:
    def __init__(self,w,d):
        self.window=w
        self.door=d
    def view(self):
        print('The house has',self.window,'Window(s) and',self.door,'door(s)')

    def __add__(self,other):
        new_window=self.window+other.window
        new_door=self.door+other.door
        obj=House(new_window,new_door)    
        return obj
        # return 'New house has' +str(new_window) +'windows and'+ str(self.door) ,'doors.'
    
#'==============================================================='
h1=House(6,2)
h2=House(4,1)
h1.view()
h2.view()
h3=h1+h2
h3.view()       #h1.__add__(h2)
# print(h1+h2)    #h1.__add__(h2)

The house has 6 Window(s) and 2 door(s)
The house has 4 Window(s) and 1 door(s)
The house has 10 Window(s) and 3 door(s)

In [ ]:
#Code Samurai:
T=int(input())
for i in range(T):
    N=int(input())
    a_list=[]
    for j in range(N):
        name=input()
        a_list.append(name[0])
    a_list.sort()
    print(a_list)
    var=''
    for k in a_list:
        if a_list.count(k)>=3:
            var+=k
        else:
            pass
    if len(var)>=3:
        print(var[0])
    else:
        print('impossible')

2
5
arif
abir
kdfjdks
akfj
jafkdjasf
6
fldkf
jdkfj
kafjdkf
kdjsfk
jkakf
jkfjakf
jfakfj
fkdjsfklds
kfjdkfj
jfkjdsfkj
jfakfjdkf
jkafjdskf
jakfja
kafjkaf
kjakjf
akfjkafj

KeyboardInterrupt: ignored

In [ ]:
T=int(input())
for i in range(T):
    s=int(input())
    run=[]
    for j in range(s):
        student=input()
        run.append(student[0])
    m=''
    for k in run:
        if run.count(k)==3:
            m+=k
        else:
            pass
    if len(m)==0:
        print('Impossible')
    else:
        print(m[0])

2
5
akash
abir
kabir
imran
annie
a
6
jenny
sharon
adam
panny
kloe
natasha
Impossible

In [ ]:
class Num:
    def __init__(self,num):
        self.num=num
    def __add__(self,other):
         return self.num+other.num
n1=Num(10)
n2=Num(5)
print(n1+n2)

15

For location access:

In [ ]:
class Num:
    def __init__(self,num):
        self.num=num
    def __add__(self,other):
         return Num(self.num+other.num)
n1=Num(10)
n2=Num(5)
print(n1+n2+n2)

<__main__.Num object at 0x7f410580acd0>

In [ ]:
class Num:
    def __init__(self,num):
        self.num=num
    def __add__(self,other):
         return Num(self.num+other.num)
n1=Num(10)
n2=Num(5)
print((n1+n2+n2+n1).num)

30

TO hide a code or private a code from public we

In [ ]:
class Num:
    def __init__(self,num):
        self.__num=num
    def __add__(self,other):
         return Num(self.__num+other.num)
n1=Num(10)
n2=Num(5)
print((n1+n2+n2+n1).num)

AttributeError: ignored

In [ ]:
class Player:
    count=0
    def __init__(self,name,country):
        self.name=name
        self.country=country
        # Player.count+=1
        # self.count=Player.count+1  
        # self.count+=1
        Player.count=self.count+1
        print(self.count)
    def printDetails(self):
        pass

print('Total Player: ', Player.count)
print('1,==============================')
p1=Player('Messi','Argentina')
print('Total Player: ', Player.count)
print('Total player from object-1: ',p1.count)
print('2,==============================')
p2=Player('CR7','Portugal')
print('Total Player: ', Player.count)
print('Total player from object-2: ',p2.count)
print('3,===============================')
p3=Player('Neymar','Brazil')
print('Total Player: ', Player.count)
print('Total player from object-3: ',p3.count)
print('4,===============================')
p4=Player('Muller','Germany')
print('Total Player: ', Player.count)
print('Total player from object-4: ',p4.count)

Total Player:  0
1,==============================
1
Total Player:  1
Total player from object-1:  1
2,==============================
2
Total Player:  2
Total player from object-2:  2
3,===============================
3
Total Player:  3
Total player from object-3:  3
4,===============================
4
Total Player:  4
Total player from object-4:  4

**Assignment-5 tasks**

In [ ]:
#task-1:
class Exam:
    def __init__(self,mark):
        self.mark=mark
    def __add__(self,other):
        return Exam(self.mark+other.mark)

Q1 = Exam(int(input("Quiz 1 (out of 10): ")))
Q2 = Exam(int(input("Quiz 2 (out of 10): ")))
Lab = Exam(int(input("Lab (out of 30): ")))
Mid = Exam(int(input("Mid (out of 20): ")))
Final = Exam(int(input("Final (out of 30): ")))
total = Q1 + Q2 + Lab+Mid+ Final
print("Total marks: {}".format(total.mark))

Quiz 1 (out of 10): 10
Quiz 2 (out of 10): 10
Lab (out of 30): 30
Mid (out of 20): 20
Final (out of 30): 30
Total marks: 100

In [ ]:
#task-2:
class Teacher:
    def __init__(self,name,dept):
        self.__name=name
        self.__dept=dept
        self.list1=[]
    def addCourse(self,id):
        self.id=id
        self.list1.append(id.course)
    def printDetail(self):
        print('================================')
        print(f'Name: {self.__name} \nDepartment: {self.__dept} \nList of courses: ')
        print('=================================')
        for i in self.list1:
            print(i)
        print('=================================')

class Course:
    def __init__(self,course):
        self.course=course
        

t1 = Teacher("Saad Abdullah", "CSE")
t2 = Teacher("Mumit Khan", "CSE")
t3 = Teacher("Sadia Kazi", "CSE")
c1 = Course("CSE 110 Programming Language I")
c2 = Course("CSE 111 Programming Language-II")
c3 = Course("CSE 220 Data Structures")
c4 = Course("CSE 221 Algorithms")
c5 = Course("CCSE 230 Discrete Mathematics")
c6 = Course("CSE 310 Object Oriented Programming")
c7 = Course("CSE 320 Data Communications")
c8 = Course("CSE 340 Computer Architecture")
t1.addCourse(c1)
t1.addCourse(c2)
t2.addCourse(c3)
t2.addCourse(c4)
t2.addCourse(c5)
t3.addCourse(c6)
t3.addCourse(c7)
t3.addCourse(c8)
t1.printDetail()
t2.printDetail()
t3.printDetail()

================================
Name: Saad Abdullah
Department: CSE
List of courses:
=================================
CSE 110 Programming Language I
CSE 111 Programming Language-II
=================================
================================
Name: Mumit Khan
Department: CSE
List of courses:
=================================
CSE 220 Data Structures
CSE 221 Algorithms
CCSE 230 Discrete Mathematics
=================================
================================
Name: Sadia Kazi
Department: CSE
List of courses:
=================================
CSE 310 Object Oriented Programming
CSE 320 Data Communications
CSE 340 Computer Architecture
=================================

In [ ]:
#task-3:
class Team:
    def __init__(self,country=None):
        self.__country=country
        self.list1=[]
    def setName(self,country):
        self.__country=country
    def addPlayer(self,name):
        self.name=name.name1
        self.list1.append(self.name)
    def printDetail(self):
        print('========================')
        print(f'Team: {self.__country} \nList of Players: \n{self.list1}')
        print('========================')
class Player:
    def __init__(self,name1):
        self.name1=name1



b = Team()
b.setName('Bangladesh')
mashrafi = Player("Mashrafi")
b.addPlayer(mashrafi)
tamim = Player("Tamim")
b.addPlayer(tamim)
b.printDetail()
a = Team("Australia")
ponting = Player("Ponting")
a.addPlayer(ponting)
lee = Player("Lee")
a.addPlayer(lee)
a.printDetail()

========================
Team: Bangladesh
List of Players:
['Mashrafi', 'Tamim']
========================
========================
Team: Australia
List of Players:
['Ponting', 'Lee']
========================

In [ ]:
#task-4:
class Color:
    def __init__(self,clr):
        self.clr=clr
    def __add__(self, q1):
        if self.clr == "red" and q1.clr == "yellow":
            data = "Orange"
        elif self.clr=="red" and q1.clr == "blue":
            data = "Violet"
        # elif self.clr == "yellow" and q1.clr == "blue":
        else:
            data = "Green"
        c1 = Color(data)
        return c1

C1 = Color(input("First Color: ").lower())
C2 = Color(input("Second Color: ").lower())
C3 = C1 + C2
print("Color formed:", C3.clr)

First Color: yellow
Second Color: blue
Color formed: Green

In [ ]:
#task-5:
from math import pi
class Circle:
    def __init__(self,num):
        self.__num=num
    def getRadius(self):
        return self.__num
    def setRadius(self):
        return self.__num
    def area(self):
        return pi*(self.__num**2)
    def __add__(self,other):
        data= self.__num+other.__num
        result= Circle(data)
        return result



c1 = Circle(4)
print("First circle radius:" , c1.getRadius())
print("First circle area:" ,c1.area())
c2 = Circle(5)
print("Second circle radius:" ,c2.getRadius())
print("Second circle area:" ,c2.area())
c3 = c1 + c2
print("Third circle radius:" ,c3.getRadius())
print("Third circle area:" ,c3.area())

First circle radius: 4
First circle area: 50.26548245743669
Second circle radius: 5
Second circle area: 78.53981633974483
Third circle radius: 9
Third circle area: 254.46900494077323

In [ ]:
#task-6:
class Triangle:
    def __init__(self,base, height):
        self.__base=base
        self.__height=height
    def getBase(self):
        return self.__base
    def setBase(self):
        return self.__base
    def getHeight(self):
        return self.__height
    def setHeight(self):
        return self.__height
    def area(self):
        return 0.5*self.__base*self.__height   
    def __sub__(self,other):
        data1=self.__base-other.__base
        data2=self.__height-other.__height
        result=Triangle(data1,data2)
        return result


#driver code:
t1 = Triangle(10, 5)
print("First Triangle Base:" , t1.getBase())
print("First Triangle Height:" , t1.getHeight())
print("First Triangle area:" ,t1.area())
t2 = Triangle(5, 3)
print("Second Triangle Base:" , t2.getBase())
print("Second Triangle Height:" , t2.getHeight())
print("Second Triangle area:" ,t2.area())
t3 = t1 - t2
print("Third Triangle Base:" , t3.getBase())
print("Third Triangle Height:" , t3.getHeight())
print("Third Triangle area:" ,t3.area())

First Triangle Base: 10
First Triangle Height: 5
First Triangle area: 25.0
Second Triangle Base: 5
Second Triangle Height: 3
Second Triangle area: 7.5
Third Triangle Base: 5
Third Triangle Height: 2
Third Triangle area: 5.0

In [ ]:
#task-7:
class Dolls:
    def __init__(self,name,price,p1=None):
        self.name=name
        self.price=price
        self.p1=p1
    def detail(self):
        if self.p1==True:
            return f'Dolls: {self.name} \nTotal Price: {self.price}'
        else:
            return f'Doll: {self.name} \nTotal Price: {self.price}'
    
    def __gt__(self,other):
        self.other=other
        if self.price>other.price:
            return True
        else:
            return False
    def __add__(self,other1):
        self.other1=other1
        # self.other2=other2
        return Dolls(self.name+other1.name, self.price+other1.price,True)


obj_1 = Dolls("Tweety", 2500)
print(obj_1.detail())
if obj_1 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")
print("=========================")
obj_2 = Dolls("Daffy Duck", 1800)
print(obj_2.detail())
if obj_2 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")
print("=========================")
obj_3 = Dolls("Bugs Bunny", 3000)
print(obj_3.detail())
if obj_3 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")
print("=========================")
obj_4 = Dolls("Porky Pig", 1500)
print(obj_4.detail())
if obj_4 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")
print("=========================")
obj_5 = obj_2 + obj_3
print(obj_5.detail())
if obj_5 > obj_1:
    print("Congratulations! You get the Tweety as a gift!")
else:
    print("Thank you!")

Doll: Tweety
Total Price: 2500
Thank you!
=========================
Doll: Daffy Duck
Total Price: 1800
Thank you!
=========================
Doll: Bugs Bunny
Total Price: 3000
Congratulations! You get the Tweety as a gift!
=========================
Doll: Porky Pig
Total Price: 1500
Thank you!
=========================
Dolls: Daffy DuckBugs Bunny
Total Price: 4800
Congratulations! You get the Tweety as a gift!

In [ ]:
#task-8:
class Coordinates:
    def __init__(self,num1,num2):
        self.num1=num1
        self.num2=num2
    def __sub__(self,other):
        data1=self.num1-other.num1
        data2=self.num2-other.num2
        return Coordinates(data1,data2)
    def __mul__(self,other2):
        data1=self.num1*other2.num1
        data2=self.num2*other2.num2
        return Coordinates(data1,data2)
    def __eq__(self,other3):
        if self.num1==other3.num1 and self.num2==other3.num2:
            return 'The calculated coordinates are the same'
        else:
            return 'The calculated coordinates are NOT the same'
    def detail(self):
        return f'({self.num1},{self.num2})'

#driver code:
p1 = Coordinates(int(input()),int(input()))
p2 = Coordinates(int(input()),int(input()))
p4 = p1 - p2
print(p4.detail())
p5 = p1 * p2
print(p5.detail())
point_check = (p4 == p5)
print(point_check)

1
2
3
4
(-2,-2)
(3,8)
The calculated coordinates are NOT the same

In [ ]:
A = [[1, 2, 3], [2,4,4], [4, 5, 6]]
B= [i for i in A]
print(B)

[[1, 2, 3], [2, 4, 4], [4, 5, 6]]

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
#tracing code:
class Hritick:
    x=1
    def __init__(self,x):
        self.a=x
        self.b=5
        self.x+=(1+x)
        print(self.a,self.b,self.x)
    def methodA(self,y):
        z=Hritick(5)
        z.methodB()
        print(z.a,z.b,z.x)
    def methodB(self):
        print(self.a,self.b,self.x)

c1=Hritick(4)
c1.methodA(5)

4 5 6
5 5 7
5 5 7
5 5 7